@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
  display: none;
}
.custom-carousel {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.header-carousel {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
}
.header-carousel h1 {
  font-weight: bold;
}
.header-carousel h3 {
  font-size: large !important;
}
.btn-header {
  float: right;
  font-size: 25px;
  margin-right: 1%;
  margin-top: 3%;
  pointer-events: all !important;
}
.carousel-indicators {
  pointer-events: all !important;
}
