
.sidemenu-custom {
    top: 63px;
}

.profile-ava img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #333;
    display: inline-block;
    height: 30px;
}

.actived {
    border-left: green solid 2px;
}

.user-avatar {
    border-radius: 50%;
    height: 60px;
    margin: 5% 0 5% 5%;
    position: relative;
}

.user-back {
    background-image: url(/app/images/profile-menu.png);
    background-size: contain;
    min-height: 150px;
    padding: 0 !important;
}

.menu-user {
    background: rgba(0, 0, 0, 0.6);
    padding: 7px 6px;
    color: #fff;
    margin-top: 34px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.user-option {
    padding-left: 8% !important;
}
