.actived {
  border-right: solid 5px #E25D41 !important;
  background-color: rgba(204, 204, 204, 0.4);
  font-weight: bolder;
}
a.user-back.text-center:hover {
  background-color: inherit !important;
}
.menu-user {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
}
.separator-menu {
  border-right: solid 5px rgba(204, 204, 204, 0.4);
}
.seta-direita {
  border-left: 10px solid #E25D41;
}
.home-li {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .sidemenu-custom {
    background-color: #0f75b3 !important;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: white !important;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(204, 204, 204, 0.5) !important;
    color: black !important;
  }
}
.side-option a {
  color: #4D4D4D !important;
}
@media screen and (max-width: 768px) {
  .side-option a {
    color: white !important;
  }
  .side-option a:hover {
    background-color: rgba(204, 204, 204, 0.6);
  }
}
