ndd-toolbar {
  border-left: solid 1px #E8E8E8;
  background-color: #FDFDFD;
}
ndd-toolbar-option a {
  color: #4D4D4D !important;
  text-decoration: none !important;
}
ndd-toolbar-option li:hover {
  background-color: rgba(204, 204, 204, 0.6);
}
.toolbar .li a {
  color: #4D4D4D !important;
}
