<h3 class="text-center text-thin">{{'header.SETTINGS' | translate}}</h3>

<div class="language">
    <h4 class="text-thin">{{'header.LANGUAGE' | translate}}</h4>
    <div class="lang-group">
        <div ng-repeat="(localeId, langName) in language.available">
            <div class="{{localeId}} language-button" ng-class="{'{{localeId}}-active': language.selected == langName}" ng-click="language.set(localeId, $event)" )"></div>
        </div>
    </div>
</div>
<br />
<div class="p">
    <h4 class="text-thin">{{'header.THEMES' | translate}}</h4>

    <div class="table-grid mb">
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-a.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-info"></span>
                        <span class="color bg-info-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-b.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-green"></span>
                        <span class="color bg-green-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-c.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-purple"></span>
                        <span class="color bg-purple-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-d.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-danger"></span>
                        <span class="color bg-danger-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="table-grid mb">
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-e.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-info-dark"></span>
                        <span class="color bg-info"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-f.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-green-dark"></span>
                        <span class="color bg-green"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-g.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-purple-dark"></span>
                        <span class="color bg-purple"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" ng-model="app.layout.theme" value="/src/content/theme/theme-h.css" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-danger-dark"></span>
                        <span class="color bg-danger"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
    </div>
</div>