<div class="container-user">
    <div class="row">
        <h1 class="page-header">
            {{vm.title}}
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>  <a ui-sref="home">Inicio</a>
            </li>
            <li>
                <i class="fa fa-wrench"></i> <a style="cursor: pointer">Gerenciador</a>
            </li>
            <li class="active">
                <i class="fa fa-user"></i>Usuario
            </li>
        </ol>
    </div>

    <br />

    <div class="row">
        <div class="col-md-5" style="padding-left: 0">
            <div class="input-group">
                <div class="input-group-btn">
                    <button disabled type="button" class="btn btn-default" style="cursor:default;"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="nameFilter" aria-label="">
            </div>

            <div class="col-md-7">&nbsp;</div>
           
        </div>
    </div>

    <br />

    <div class="row">
        <table class="table table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Level</th>
                    <th>Data de Inscrição</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users | filter: nameFilter">
                    <td>{{user.fullName}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.level}}</td>
                    <td>{{user.joinDate | date:'dd/MM/yyyy'}}</td>
                    <td class="text-right">
                        <button class="btn btn-info" ng-click="vm.edit(user)">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.modal(user)" data-toggle="modal" data-target="#modelRemoveUser">
                            <i class="fa fa-user-times"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>    
        <pagination ng-model="vm.currentPage"
                    total-items="vm.countUsers"
                    max-size="vm.maxSize"
                    boundary-links="true">
        </pagination>
    </div>
</div>

<ndd-modal target="modelRemoveUser" label="{{vm.titleModelRemove}}" callback="vm.remove">
    {{vm.bodyModelRemove}}
</ndd-modal>