<div class="fadeIn enter-fadeIn text-capitalize">
    <ndd-head title="Grupos: {{vm.user.firstName + ' ' + vm.user.lastName }}"></ndd-head>
</div>

<hr style="margin-top: 2%" />

<div class="container-user fadeIn enter-fadeIn">
    <div class="row">
        <h3 ng-show="vm.groups.length <= 0" class="text-center">Não há grupos cadastrados</h3>
        <div class="col-sm-offset-3 col-sm-6 clear-padding">
            <ndd-group-checkbox array="vm.groups" compare="vm.user.groups" callback="vm.onchange"></ndd-group-checkbox>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center clear-padding">
            <hr />
            <button class="btn btn-info pull-left" ui-sref="manager.useredit({userId: vm.user.id})" style="margin-left: 2%;">
                <i class="fa fa-chevron-circle-left" style="font-size: large"></i>
                <span>Voltar</span>
            </button>

            <button class="btn btn-success" ng-click="vm.modal()"
                    data-toggle="modal" data-target="#modelEditUser" ng-disabled="!vm.hasChange">
                <i class="fa fa-save"></i>
                <span>Salvar</span>
            </button>
        </div>
    </div>
</div>

<ndd-modal target="modelEditUser" label="{{vm.titleModelEdit}}" callback="vm.saveChanges">
    {{vm.bodyModelEdit}}
</ndd-modal>

<ndd-confirm-exit controller="vm"><ndd-confirm-exit>
