
.left-menu {
    overflow: auto;
    font-size: 0.9em;
    padding: 10px;
}

.left-menu li {
    cursor: pointer;
}

.left-menu li.item-group {
    font-weight: bold;
}

.left-menu li a {
    padding: 5px;
}

.left-menu li:not(.item-group) a {
    padding-left: 30px;
}


.view-content,
.view-content-sm {
    
    padding: 0;
}
