
.action-container {
    margin-top: 10px;
    -webkit-perspective: 150px;
    -moz-perspective: -150px;
    -ms-perspective: -150px;
    perspective: -150px;
}

.action-container .action-button {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 0;
}

.action-container .action-button a,
.action-container .action-button a .fa {
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out; 
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    text-decoration: none;
}

}

.action-container a .fa {

    border-radius: 100%;

    width: 1.4em;
    height: 1.4em;
    padding-top: 0.23em;
    padding-left: 0.07em;

}

.action-container p {
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0;
    z-index: -1;
    position: relative;
    
    /*text-shadow: 0 1px 1px #bdc3c7;*/

    -moz-transition: all 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    transition: all 0.5s ease-in-out,
                opacity 0.4s ease-in-out; 
    opacity: 0;

    -webkit-transform-origin: 50% -20%;
    -moz-transform-origin: 50% -20%;
    -ms-transform-origin: 50% -20%;
    -o-transform-origin: 50% -20%;
    transform-origin: 50% -20%;

    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}



.action-container .action-button:hover p {

    opacity: 1;
    -webkit-transform: rotateX(0) rotateY(1deg);
    -moz-transform: rotateX(0) rotateY(1deg);
    -ms-transform: rotateX(0) rotateY(1deg);
    -o-transform: rotateX(0) rotateY(1deg);
    transform: rotateX(0) rotateY(1deg);
}
