.language {
  padding: 5px;
}
.language-button {
  width: 27px;
  height: 26px;
  float: left;
  margin: 0 auto;
  display: block;
  margin-right: 6px;
}
.lang-group {
  height: 26px;
  display: table;
  width: 100px;
  margin: 0 auto;
}
.pt {
  background-image: url(/src/images/language/pt.png);
  background-repeat: no-repeat;
}
.pt-active {
  background-image: url(/src/images/language/pt-active.png);
  background-repeat: no-repeat;
}
.en {
  background-image: url(/src/images/language/en.png);
  background-repeat: no-repeat;
}
.en-active {
  background-image: url(/src/images/language/en-active.png);
  background-repeat: no-repeat;
}
.es {
  background-image: url(/src/images/language/es.png);
  background-repeat: no-repeat;
}
.es-active {
  background-image: url(/src/images/language/es-active.png);
  background-repeat: no-repeat;
}
