<ndd-head title="{{'header.LIST_PERMISSIONS' | translate}}"></ndd-head>
<div class="container-user">
    <div class="row clear-padding">
        <div class="col-xs-12"><br /></div>
      
        <button class="btn btn-danger" ng-click="vm.modifyAll(false)" ng-disabled="vm.showRoutes.length <= 0">
            <i class="fa fa-minus-square-o"></i>
            <span>{{'action.CLEAN_ALL' | translate}}</span>
        </button>
        <button class="btn btn-info" ng-click="vm.modifyAll(true)" ng-disabled="vm.showRoutes.length == vm.allPermissions.length">
            <i class="fa fa-check-square-o"></i>
            <span>{{'action.SELECT_ALL' | translate}}</span>
        </button>
        <button class="btn btn-success pull-right space-left" ng-disabled="!vm.hasChange" ng-click="vm.saveChanges()">
            <i class="fa fa-save"></i>
            <span>{{'action.SAVE' | translate}}</span>
        </button>
    </div>
    <br />
   <div class="row">
        <hr />
        <div class="col-md-4 clear-padding col-grid" ng-repeat="filter in vm.filters" ng-show="vm.permission[filter].length">
            <div class="panel panel-primary text-center panel-fixed" ng-class="{'panel-success': vm.verifyPanelSuccess(filter)}">
                <div class="panel-heading">
                    <input type="checkbox" class="pull-left" ng-model="isAll" ng-click="vm.modifyGroupPermissions(isAll, filter)" ng-checked="vm.verifyPanelSuccess(filter)" />
                    <b class="text-capitalize">{{filter}}</b>
                </div>
                <div class="panel-body">
                    <ndd-group-checkbox array="vm.permission[filter]" compare="vm.showRoutes" method="vm.compareState" callback="vm.onchange"></ndd-group-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>
<ndd-confirm-exit controller="vm"><ndd-confirm-exit>