ndd-toolbar {
  position: fixed;
  right: 0;
  top: 55px;
  width: 150px;
  height: calc(93% - 41px);
}
ndd-toolbar-option a {
  display: block;
  padding: 10px;
  line-height: 20px;
}
.toolbar {
  width: 100%;
}
.toolbar li :first-child {
  margin-top: 3px;
}
.toolbar .li {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .text-toolbar {
    display: inline-block !important;
    width: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 !important;
  }
}
@media screen and (max-width: 1199px) {
  .toolbar .li a {
    text-align: center;
  }
}
