<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top nav-custom" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-show="shell.authentication.isAuth">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-xs" ui-sref="home">Diário da Academia</a>
        <a class="navbar-brand visible-xs" ui-sref="home">Diário</a>

        <!-- Top Menu Items -->
        <div ng-include="'app/templates/layout/top-menu.html'" class="pull-right"></div>
    </div>


    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div ng-include="'app/templates/layout/sidebar.html'"></div>

</nav>
<br />

<!-- Navigation Options Bar -->
<nav class="navbar navbar-fixed-top nav-options-custom" role="navigation" ng-show="shell.authentication.isAuth">
    <div class="option-nav" ui-sref="homeapp" ng-class="{'actived-option': state.contains('home')}">INICIO</div>

    <div class="option-nav" ui-sref="turma" ng-class="{'actived-option': state.contains('turma')}" ndd-security="turma">TURMAS</div>

    <div class="option-nav" ui-sref="aluno" ng-class="{'actived-option': state.contains('aluno')}" ndd-security="aluno">ALUNOS</div>

    <div class="option-nav" ui-sref="aula" ng-class="{'actived-option': state.contains('aula')}" ndd-security="aula">AULA</div>

    <div class="option-nav" ui-sref="chamada.create" ng-class="{'actived-option': state.contains('chamada')}" ndd-security="chamada">CHAMADA</div>

    <div class="option-nav" ui-sref="manager" ng-class="{'actived-option': state.contains('manager')}" ndd-security="manager">GERENCIADOR</div>
</nav>