<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">
            </a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                   
                <li><a ui-sref="home">Home</a></li>
               
                
                <li><a ui-sref="events.list">Events</a></li>
                 
              

            </ul>
        </div>
    </div>
</div>

