<div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="sidebarController as vm">
    <ul class="nav navbar-nav side-nav sidemenu-custom" ng-show="shell.authentication.isAuth" ng-class="{'slider-enter': shell.authentication.isAuth, 'slider-leave': !shell.authentication.isAuth }">
      
        <!--Home -->

        <ndd-sidemenu-option route-show="home" name="Inicio" icon="fa-home" class="home-li"
                             route="homeapp" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('home')"></div>

        <!--Turma -->

        <ndd-sidemenu-option route-show="turma" name="Listar Turmas" icon="fa-bars"
                             route="turma.list" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('turma.list')"></div>


        <ndd-sidemenu-option route-show="turma" name="Nova Turma" icon="fa-plus"
                             route="turma.create" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('turma.create')"></div>

        <!--Aluno -->

        <ndd-sidemenu-option route-show="aluno" name="Listar Alunos" icon="fa-bars"
                             route="aluno.list" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('aluno.list')"></div>

        <!--Aula -->

        <ndd-sidemenu-option route-show="aula" name="Lista de Aula" icon="fa-bars"
                             route="aula.list" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('aula.list')"></div>

        <!--Chamada -->
        <ndd-sidemenu-option route-show="chamada" name="Chamada" icon="fa-bars"
                             route="chamada.create" state="{{state}}"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('chamada.create')"></div>


        <!--Manager -->

        <ndd-sidemenu-option route-show="manager" name="Usuários"
                             route="manager.user" state="{{state}}" icon="fa-user"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('manager.user')"></div>


        <ndd-sidemenu-option route-show="manager" name="Grupos"
                             route="manager.group" state="{{state}}" icon="fa-users"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('manager.group')"></div>


        <ndd-sidemenu-option route-show="manager" name="Permissões"
                             route="manager.permissions" state="{{state}}" icon="fa-copy"></ndd-sidemenu-option>
        <div class="seta-direita" ng-show="state.contains('manager.permissions')"></div>


        <li class="li separator-menu" style="height: calc(100%); pointer-events: none">
            <a href="javascript:;" style="height: 100%;">
            </a>
        </li>
    </ul>
</div>