<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="sidebarController as vm">
    <ul class="nav navbar-nav side-nav sidemenu-custom " ng-show="shell.authentication.isAuth" ng-class="{'slider-enter': shell.authentication.isAuth, 'slider-leave': !shell.authentication.isAuth }">
        <li class="li">
            <a class="user-back text-center">
                <img src="/app/images/avatar_login.png" alt="" class="user-avatar" />
                <div href="javascript:;" data-toggle="collapse" data-target="#log" class="menu-user text-left text-capitalize">
                    {{shell.authentication.fullName}}
                </div>
            </a>
        </li>

        <li class="li" style="width: 100%" ng-show="shell.authentication.isAuth">
            <ul id="log" class="collapse">
                <li ng-class="{actived: state.contains('useredit')}">
                    <a style="cursor:pointer" ng-click="vm.editUser()" class="user-option"><i class="fa fa-fw fa-user"></i> Perfil</a>
                </li>
                <li></li>
            </ul>
        </li>

        <li class="li" ng-class="{actived: state.contains('home')}">
            <a ui-sref="homeapp" data-toggle=" collapse"><i class="fa fa-fw fa-home"></i> Início</a>
        </li>

        <li class="li" ng-class="{actived: state.contains('turma')}">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-fw fa-university">
                </i> Turmas <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul id="demo" class="collapse">
                <li>
                    <a ui-sref="turma.create">Nova Turma</a>
                </li>
                <li>
                    <a ui-sref="turma.list">Listar Turmas</a>
                </li>
            </ul>
        </li>
        <li class="li" ng-class="{actived: state.contains('aluno')}">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo2">
                <i class="fa fa-fw fa-users"></i> Alunos <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul id="demo2" class="collapse">
                <li ng-if="shell.isVisible('aluno.create')">
                    <a ui-sref="aluno.create">Novo Aluno</a>
                </li>
                <li>
                    <a ui-sref="aluno.list">Listar Alunos</a>
                </li>
            </ul>
        </li>
        <li class="li" ng-class="{actived: state.contains('aula')}">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo3">
                <i class="fa fa-fw fa-calendar"></i> Aulas <i class="fa fa-fw fa-angle-down"></i>
            </a>
            <ul id="demo3" class="collapse">
                <li>
                    <a ui-sref="aula.create">Novo Aula</a>
                </li>
                <li>
                    <a ui-sref="aula.list">Listar de Aulas</a>
                </li>
            </ul>
        </li>
        <li class="li" ng-class="{actived: state.contains('chamada')}">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo4"><i class="fa fa-fw fa-check"></i> Realizar Chamada <i class="fa fa-fw fa-angle-down"></i></a>
            <ul id="demo4" class="collapse">
                <li>
                    <a ui-sref="chamada.create">Nova Lista</a>
                </li>
            </ul>
        </li>
        <li class="li" ng-class="{actived: state.contains('manager')}">
            <a href="javascript:;" data-toggle="collapse" data-target="#demo5"><i class="fa fa-fw fa-wrench"></i> Gerenciador <i class="fa fa-fw fa-angle-down"></i></a>
            <ul id="demo5" class="collapse">
                <li>
                    <a ui-sref="manager.user">Usuarios</a>
                </li>
                <li>
                    <a ui-sref="manager.group">Grupos</a>
                </li>
                <li>
                    <a ui-sref="manager.permissions">Permissões</a>
                </li>
            </ul>
        </li>
        <li class="li">
            <a href="#"><i class="fa fa-fw fa-database"></i> Sobre</a>
        </li>
    </ul>
</div>