<ul class="nav navbar-right top-nav " ng-show="shell.authentication.isAuth">
    <li class="dropdown">
        <i class="fa fa-2x fa-question help"></i>
    </li>
</ul>
<ul class="nav navbar-right top-nav" ng-show="shell.authentication.isAuth">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" style="cursor: pointer; color:white">
            <span class="profile-ava">
                <i class="fa fa-2x fa-user"></i>
            </span>
            <span class="menu-log">
                <span class="username">{{shell.authentication.userName || 'User'}}</span>
                <b class="caret"></b>
            </span>
        </a>
        <ul class="dropdown-menu">
            <li ng-hide="shell.authentication.isAuth">
                <a ui-sref="login" href="#"><i class="fa fa-fw fa-sign-in"></i> Entrar</a>
            </li>
            <li ng-hide="shell.authentication.isAuth">
                <a ui-sref="signup" class="text">Registrar-se</a>
            </li>
            <li data-ng-show="shell.authentication.isAuth">
                <a href="" class="text" ng-click="shell.logOut()"><i class="fa fa-fw fa-sign-out"></i>Sair</a>
            </li>
            <li class="divider"></li>
        </ul>
    </li>
</ul>
