<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" style="cursor: pointer">
            <span class="profile-ava">
                <img alt="" src="/app/images/avatar_login.png">
            </span>
            <span class="username">{{shell.authentication.userName}}</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li ng-hide="shell.authentication.isAuth">
                <a ui-sref="login" href="#"><i class="fa fa-fw fa-sign-in"></i> Entrar</a>
            </li>
            <li ng-hide="shell.authentication.isAuth">
                <a ui-sref="signup" class="text">Registrar-se</a>
            </li>
            <li data-ng-show="shell.authentication.isAuth">
                <a href="" class="text" ng-click="shell.logOut()"><i class="fa fa-fw fa-sign-out"></i>Sair</a>
            </li>
            <li class="divider"></li>
        </ul>
    </li>
</ul>