<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NDDigital.DiarioAcademia.Infraestrutura.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NDDigital.DiarioAcademia.Infraestrutura.WebServices.Properties.Settings>
            <setting name="NDDigital_DiarioAcademia_Infraestrutura_WebServices_br_com_correios_ws_CalcPrecoPrazoWS"
                serializeAs="String">
                <value>http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx</value>
            </setting>
            <setting name="NDDigital_DiarioAcademia_Infraestrutura_WebServices_br_com_byjg_www_CEPService"
                serializeAs="String">
                <value>http://www.byjg.com.br/site/webservice.php/ws/cep</value>
            </setting>
        </NDDigital.DiarioAcademia.Infraestrutura.WebServices.Properties.Settings>
    </applicationSettings>
</configuration>