<div class="container-user fadeIn enter-fadeIn ">
    <ndd-head title="Permissões de {{vm.group.name}}"></ndd-head>
</div>
<hr  style="margin-top: 2%"/>

<div class="container-user fadeIn enter-fadeIn" ng-class="{'disabled': vm.group.isAdmin}">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 clear-padding">
            <ndd-group-checkbox array="vm.permissions" compare="vm.group.permissions" method="vm.comparePermissions" callback="vm.onchange"></ndd-group-checkbox>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center clear-padding">
            <hr />
            <button class="btn btn-default pull-left" ui-sref="manager.group" style="margin-left:1%;">
                <i class="fa fa-chevron-circle-left " style="font-size: large"></i>
            </button>
            
            <button class="btn btn-info" ng-click="vm.modal()"
                    data-toggle="modal" data-target="#modalEditGroup" ng-disabled="!vm.hasChange">
                <i class="fa fa-save"></i>
            </button>

        </div>
    </div>
</div>
<ndd-modal target="modalEditGroup" label="{{vm.titleModalEdit}}" callback="vm.saveChanges">
    {{vm.bodyModalEdit}}
</ndd-modal>
<ndd-confirm-exit controller="vm"><ndd-confirm-exit>
