<div class="col-sm-12 clear-padding">
    <div class="container-user">
        <div class="row">
            <h1 class="page-header">Grupos</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a ui-sref="home">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-wrench"></i> <a style="cursor: pointer">Gerenciador</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> Grupos
                </li>
            </ol>
        </div>
        <br />
    </div>
</div>

<div class="col-sm-6 clear-padding">
    <div class="container-user">
        <div class="row">
            <div class="col-sm-7 input-search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button disabled type="button" class="btn btn-default" style="cursor:default;"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="nameFilter" aria-label="">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12" style="padding-left: 2%;">
                <div class="list-group" ng-repeat="group in vm.groups | filter: nameFilter">
                    <a style="cursor: pointer" ng-click="vm.showGroup(group)" class="list-group-item">{{group.name}}</a>
                </div>
                <input type="text" class="form-control" ng-show="vm.creating" ng-blur="vm.new()"  ng-model="vm.newGroup.name" />
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-12 text-center">
                <button class="btn btn-success" ng-click="vm.creating = true"><i class="fa fa-plus"></i> </button>
                <button class="btn btn-danger" ng-click="vm.modal()"
                        data-toggle="modal" data-target="#modelRemoveGroup" ng-disabled="!vm.selectedGroup">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div ui-view class="fader-animation container-group"></div>
</div>

<ndd-modal target="modelRemoveGroup" label="{{vm.titleModelRemove}}" callback="vm.remove">
    {{vm.bodyModelRemove}}
</ndd-modal>
