
<ndd-head title="Permissões de {{vm.group.name}}" back-route="manager.group.list"></ndd-head>

<hr style="margin-top: 2%" />

<div ng-class="{'disabled': vm.group.isAdmin}">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 clear-padding">
            <ndd-group-checkbox array="vm.permissions" compare="vm.group.permissions" method="vm.comparePermissions" callback="vm.onchange"></ndd-group-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center clear-padding">
            <h3 ng-hide="vm.permissions && vm.permissions.length > 0">Não há permissões cadastradas.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center clear-padding">
            <hr />
            <button class="btn btn-info" ng-click="vm.modal()"
                    data-toggle="modal" data-target="#modalEditGroup" ng-disabled="!vm.hasChange">
                <i class="fa fa-save"></i>
            </button>

        </div>
    </div>
</div>
<ndd-modal target="modalEditGroup" label="{{vm.titleModalEdit}}" callback="vm.saveChanges">
    {{vm.bodyModalEdit}}
</ndd-modal>

<ndd-confirm-exit controller="vm"><ndd-confirm-exit>
