<div class="col-sm-11 clear-padding">
    <div class="col-xs-12 clear-padding text-indicator container-header">
        <span ui-sref="manager.user.list">USUÁRIOS</span>
        <span class="text-indicator-actived">GRUPOS</span>

        <div class="submit-line pull-right">
            <input type="text" class="form-control" placeholder="Pesquisar" ng-model="nameFilter" />
            <button class="submit-lente" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <hr class="separator-head" />
    </div>
    <ndd-table columns="['NOME', 'ADMINISTRADOR']" attrs="['name', 'isAdmin']" data="vm.groups" cb-click="vm.onClick" ng-model="nameFilter"></ndd-table>
</div>
<ndd-toolbar cb-properties="vm.edit" security-properties="manager.group.edit" state-new="manager.group.create" cb-remove="vm.onRemove"></ndd-toolbar>
<ndd-modal target="modelRemoveUser" label="{{vm.titleModelRemove}}" callback="vm.remove">{{vm.bodyModelRemove}}</ndd-modal>
