<div class="container-user fadeIn enter-fadeIn ">
    <div class="row">
        <div class="col-xs-10 clear-padding">
            <h2 style="margin-top: 0;">Permissões {{vm.group.name}}</h2>
        </div>
        <div class="col-xs-2 clear-padding">
            <button class="btn btn-info" ng-click="vm.modal()" style="float: right"
                    data-toggle="modal" data-target="#modalEditGroup" ng-disabled="!vm.hasChange">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</div>

<hr  style="margin-top: 2%"/>

<div class="container-user fadeIn enter-fadeIn ">
    <div class="row">
        <ndd-group-checkbox array="vm.permissions" compare="vm.group.permissions" method="vm.comparePermissions" callback="vm.onchange"></ndd-group-checkbox>
    </div>
</div>
    
<ndd-modal target="modalEditGroup" label="{{vm.titleModalEdit}}" callback="vm.saveChanges">
    {{vm.bodyModalEdit}}
</ndd-modal>
<ndd-confirm-exit controller="vm"><ndd-confirm-exit>