<ndd-head title="Novo Grupo" back-route="manager.group.list"></ndd-head>
<div class="container-view padding-left">
    <form>
        <label>Grupo</label>
        <input type="text" class="form-control" ng-model="vm.group.name" ng-change="vm.hasChange = true" />
        <br />
        <label>Adminstrador:</label>
        <button type="button" class="btn" aria-label="isAdmin" ng-class="{'btn-warning': vm.group.isAdmin}" ng-click="vm.setAdmin()"
                data-toggle="tooltip" data-placement="top" data-original-title="{{title}}">
            <span class="glyphicon glyphicon-star"></span>
            {{title = vm.group.isAdmin ? 'É administrador' : 'Não é Administrador'}}
        </button>
        <br /><br />
        <label>Permissões:</label>
        <button class="btn btn-default" disabled>Gerenciar Permissões</button>
        <span class="msgAllPermission" ng-hide="vm.group.isAdmin">
            <i class="fa fa-exclamation"></i>
            <span>&nbsp;Salve o grupo para editar suas permissões</span>
        </span>
        <span class="msgAllPermission" ng-show="vm.group.isAdmin">
            <i class="fa fa-star"></i> Possui todas as permissões
        </span>
        <hr />
    </form>
</div>
<div class="col-sm-12 clear-padding text-center">
    <button class="btn btn-success" ng-click="vm.save()">
        <i class="fa fa-save"></i>
        <span>Salvar</span>
    </button>
</div>

