<div class="input-group space-bottom" ng-repeat="obj in elements">

    <span class="input-group-addon" ng-class="{'border-success': check(obj, compare, method)}">
        <input type="checkbox" ng-checked="check(obj, compare, method)" ng-click="onclick(obj, compare, callback, method)">
    </span>

    <input type="text" class="cursor-pointer form-control " value="{{obj.displayName || obj.name}}" readonly
           ng-click="onclick(obj, compare, callback, method);"
           ng-class="{'border-success': check(obj, compare, method), 'clear-border': !!obj.permissionId}">

    <span class="cursor-pointer input-group-addon show-permissionId" ng-show="obj.permissionId"
          ng-click="onclick(obj, compare, callback, method);"
          ng-class="{'border-success': check(obj, compare, method)}">
        <small>{{obj.permissionId}}</small>
    </span>

</div>
<pager total-items="countElements" ng-model="currentPage" ng-hide="array.length == 0 || array.length <= numPerPage"></pager>