<div class="input-group" ng-repeat="obj in array" style="padding-bottom: 2%" > 
    <span class="input-group-addon" ng-class="{'border-success': check(obj, compare, method)}">
        <input type="checkbox" ng-checked="check(obj, compare, method)"
               ng-click="onclick(obj, compare, chkGroup, callback, method)" ng-model="chkGroup">
    </span>
    <input type="text" class="form-control" value="{{obj.data.displayName ? obj.data.displayName: obj.name}}" disabled ng-class="{'border-success': check(obj, compare, method)}">
</div>
