<div class="col-lg-8">
    <ndd-head title="Aulas"></ndd-head>
    <div class="col-lg-12">
        <div class="jumbotron">
            <div>
                <input class="form-control" type="text" ng-model="vm.criterioDeBusca" placeholder="O que você está procurando?" />
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Data da aula</th>
                    </tr>
                    <tr ng-class="" ng-repeat="aula in vm.aulas | filter: vm.criterioDeBusca">
                        <td><input type="checkbox" ng-click="vm.aulaSelecionada = aula" /></td>
                        <td>{{aula.dataAula | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </table>
                <button class="btn btn-danger" ng-click="vm.delete(vm.aulaSelecionada)" ng-disabled="!true">Excluir</button>
            </div>
        </div>
    </div>
</div>