<div class="col-sm-11">
    <ndd-head title="{{vm.title}}"></ndd-head>
    <div class="col-sm-12">
        <div class="jumbotron">
            <div>
                <input class="form-control" type="text" ng-model="vm.criterioDeBusca" placeholder="O que você está procurando?" />
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Descrição</th>
                    </tr>
                 
                    <tr  ng-repeat="turma in vm.turmas | filter: vm.criterioDeBusca">
                        <td><input type="radio" ng-click="vm.turmaSelecionada = turma" name="chkTurma"/></td>
                        <td>{{turma.descricao}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<ndd-toolbar cb-edit="vm.edit" state-new="turma.create" cb-remove="vm.remove"></ndd-toolbar>