
<div class="container">
    <div class="page-header">
        <h1 class="visible-lg">Turma</h1>
        <p class="lead hidden-lg">Criação de nova turma</p>
        <p>
            Tela para criação de uma nova turma
        </p>
    </div>

    <div>

        <div class="form-group">


            <div class="form-group">
                <label for="ano">Nome: </label>
                <input value="" class="form-control" id="ano" ng-model="vm.turma.nome" />

                <label for="ano">Ano: </label>
                <input value="" class="form-control" id="ano" type="number" ng-model="vm.turma.ano" />
            </div>

        </div>
        
        
        <button class="btn btn-success" ng-click="vm.create()">Criar "{{vm.turma.nome}}" para {{vm.turma.ano}}  </button>



    </div>

</div>