table {
  color: #515151 !important;
}
thead {
  border-top: #D6D6D6 solid 1px;
  border-left: none;
  border-right: none;
  background-color: #FFFFFF;
}
thead th:first-child {
  border-left: none;
}
thead th:last-child {
  border-right: none;
}
thead th {
  border: #D6D6D6 solid 1px;
  font-size: 12px;
  vertical-align: super !important;
  padding-left: 10px !important;
}
tbody td:first-child {
  padding-left: 30px !important;
  width: 80px;
}