
<div class="col-sm-12 clear-padding">
    <div class="container-user">
        <h1>Entrar</h1>
        <div ncy-breadcrumb></div>
        <br />
    </div>
</div>

<div class="col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8 login">

    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/app/images/avatar_login.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" name="login">
            <span class="reauth-email"></span>

            <input type="text" name="inputEmail"
                   class="form-control" placeholder="Username" required autofocus ng-model="vm.loginData.userName">

            <input type="password" name="inputPassword"
                   class="form-control" placeholder="Password" required ng-model="vm.loginData.password">

            <span class="pull-right" style="font-size:small;">
                <a href="" ui-sref="signup">Não tem um conta ? Registre -se </a>
            </span>
            <br />
            <button class="btn btn-lg btn-info btn-block btn-signin" type="submit"
                    ng-click="login.$valid ? vm.login(): false">
                Entrar
            </button>
            <br />
            <div ng-hide="vm.message == ''" class="alert alert-danger">
                {{vm.message}}
            </div>
        </form>
    </div>

</div>