

<div class="container-user">
    <div class="row">
        <h1>Cadastro</h1>
    </div>
</div>


<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
    <div class="jumbotron class1" style="padding-top: 5px;">
        <img id="profile-img" class="profile-img-card" src="/app/images/avatar_plus.gif" />
        <form name="vm.aulaForm" class="jumbotron" style="padding-top: 0; padding-bottom: 0; margin-bottom: 3%">
            <input type="text" class="form-control" placeholder="First Name" data-ng-model="vm.registration.firstName" required autofocus><br />
            <input type="text" class="form-control" placeholder="Last Name" data-ng-model="vm.registration.lastName" required><br />
            <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.registration.userName" required><br />
            <input type="email" class="form-control" placeholder="Email" data-ng-model="vm.registration.email" required><br />
            <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.registration.password" required><br />
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="vm.registration.confirmPassword" required><br />
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="vm.signUp()">Registrar-se</button>
            <div data-ng-hide="vm.message == ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{vm.message}}
            </div>
        </form>
    </div>
</div>
