<div>

    <div class="container">
        <div class="page-header">
            <h1 class="visible-lg">Novo evento</h1>
            <p class="lead hidden-lg">Novo evento</p>
            <p>
                Criação de um novo evento.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="row">
                <form class="form-group">

                    <div class="col-md-6">
                        <label for="txtDescription">Description:</label>
                        <input id="txtDescription" type="text" ng-model="vm.event.descriptionEvent" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label for="cmbCriticyLevel">Criticy Level:</label>
                        <select class="form-control" id="cmbCriticyLevel" ng-model="vm.event.criticyLevel" ng-options="level for level in vm.levels"></select>
                    </div>

                </form>
            </div>

            <div class="row">
                <div>
                    <a ui-sref="events.list"><button class="btn btn-primary"><i class="fa fa-backward"></i> Voltar</button>     </a>
                    <a ng-click="vm.save()"><button class="btn btn-success"><i class="fa fa-save"></i> Salvar</button> </a>

                </div>
            </div>
        </div>

        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>