<div class="col-sm-11">
    <ndd-head title="{{vm.title}}"></ndd-head>

    <div class="col-sm-12 clear-padding">
        <div class="jumbotron">
            <div>
                <input class="form-control" type="text" ng-model="vm.criterioDeBusca" placeholder="O que você está procurando?" />
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Descrição do aluno</th>
                    </tr>
                    <tr ng-class="" ng-repeat="aluno in vm.alunos | filter: vm.criterioDeBusca">
                        <td><input type="radio" ng-click="vm.alunoSelecionado = aluno" name="chkAluno"/></td>
                        <td>{{aluno.nome}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<ndd-toolbar cb-edit="vm.edit" state-new="aluno.create"  cb-remove="vm.remove"></ndd-toolbar>