.icon-back {
  vertical-align: text-bottom;
  cursor: pointer;
  margin-left: 5px;
}
.text-head {
  font-size: 22px;
  margin-left: 10px;
  color: #4D4D4D !important;
}
.separator-head {
  margin-top: 18px !important;
  background-color: #DFDFDF;
}
.separator-bottom {
  margin-top: 6px !important;
  background-color: #DFDFDF;
}
