@import url(http://fonts.googleapis.com/css?family=Montserrat);
.custom-carousel {
  height: 100%;
  width: 100%;
}
.container-home {
  height: calc(100% - 5px) !important;
  width: 100%;
  position: fixed;
  margin-top: -90px;
}
.carousel-inner {
  height: 100%;
}
.footer-carousel {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header-carousel {
  position: fixed;
  top: 30%;
  z-index: 9;
  padding: 1% 1% 1% 2%;
  width: 100%;
}
.slide {
  height: 100%;
}
.slide img {
  height: 100% !important;
  width: 100%;
}
.circular-bar {
  float: left;
  margin-left: -75px;
  position: relative;
  left: 50%;
}
.circular-bar .circular-bar-content strong {
  display: block;
  font-weight: lighter;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
}
