.dropdown-menu {
  left: 25%;
  margin-top: 50px !important;
}
.top-nav {
  margin-right: 15px;
  margin-left: 15px;
  padding: 0 !important;
  height: 50px;
}
.top-nav .help {
  padding-top: 10px;
  cursor: pointer;
}
.option-nav {
  line-height: 25px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  float: left;
  text-align: center;
}
