.dropdown-menu {
    left: 25%;
    margin-top: 40px !important;
}

.top-nav {
    margin: 0 !important;
    padding: 0 !important;
    height: 40px;

    & .help {
        padding-top: 6px;
        cursor: pointer;
    }
   
}

.nav-option{
     & a:hover {
        background-color: #0D5F9A + 45 !important;
        cursor: pointer;
    }
      & span:hover {
        background-color: #0D5F9A + 45 !important;
        cursor: pointer;
    }
}

.container-help {
    height: 40px;
    width: 60px;
    text-align: center;
    display: block;
}


.option-nav {
    line-height: 25px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    float: left;
    text-align: center;
}

.navbar-header{
    width: 100%;
}