ndd-toolbar {
    position: fixed;
    right: 0;
    top: 75px;
    width: 10%;
    height: 100%;
    border-left: solid 1px #E8E8E8;
    background-color: #FDFDFD;
}

.toolbar {
    width: 100%;
    margin-top: 8px;

    & .li {
        width: 100%;

        & a {
            color: #4D4D4D !important;
        }
    }
}
