<ndd-head title="Permissões"></ndd-head>

<div class="row">
    <div class="col-sm-12 clear-padding">
        <div class="container-user">
            <div class="col-sm-4 clear-padding" ng-repeat="filter in vm.filters">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <b class="text-capitalize">{{filter}}</b>
                    </div>
                    <div class="panel-body">
                        <ndd-group-checkbox array="vm.permission[filter]" compare="vm.routes" method="vm.compareState"></ndd-group-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 clear-padding text-center">
        <hr />
        <button class="btn btn-success" ng-click="vm.save()"><i class="fa fa-check"></i> </button>
    </div>
</div>