
<div class="col-sm-12 clear-padding">
    <div class="container-user">
        <div class="row">
            <h1 class="page-header">Permissões</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  <a ui-sref="home">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-wrench"></i> <a style="cursor: pointer">Gerenciador</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> Permissões
                </li>
            </ol>
        </div>
        <br />
    </div>
</div>


